.mui-bar .mui-icon {
    font-size: 18px;
    position: relative;
    z-index: 20;
    padding-top: 14px;
    padding-bottom: 10px;
}
.mui-bar{
	    background-color: #03a9f4;
		
}
.mui-title{
	color:#ffffff;
}
header >a{
	color:#ffffff;
}