{{define "public/main-header.html"}}
      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>R</b>estgo</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Restgo</b></span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              

           
             
              <!-- User Account Menu -->
          
              <!-- Control Sidebar Toggle Button -->
              <li>
                <a href="{{ctxpath}}/user/quit" data-toggle="control-sidebar"><i class="fa fa-power-off"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>

{{end}}