{{define "home/quit.html"}}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
  <head>
		{{template "public/head.html"}}
  </head>
  
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

		{{template "public/main-header.html"}}
      <!-- Left side column. contains the logo and sidebar -->
				
		{{template "public/main-sidebar.html"}}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Page Header
            <small>Optional description</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

          <!-- Your Page Content Here -->

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
		
     	{{template "public/footer.html"}}
    </div><!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->
		{{template "public/foot.html"}}
  </body>
</html>
{{end}}
